<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Type</th>
            <th>Lvl Req</th>
            <th>Recipe</th>
            <th>Craft Rate</th>
            <th>Experience</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of CharacterService.CraftHandler.CraftableItems">
            <ng-container *ngIf="CharacterService.Character.Skills.WeaponsmithingLevel >= item.LevelRequirement && item.ExperienceType == ExperienceType.Weaponsmithing">
                <td title="{{item.Description}}">
                    <button *ngIf="CharacterService.IsBusy" (click)="CancelAction(); CharacterService.IsBusy = false;">Cancel</button><button *ngIf="!CharacterService.IsBusy" (click)="CraftItem(item)">Craft</button>&nbsp;
                    {{item.Name}} <span style="color: var(--interaction); font-size:smaller;">x{{this.GetItemCount(item)}}</span>
                </td>
                <td>{{item.Description}}</td>
                <td>{{ItemType[item.Type]}}</td>
                <td>{{item.LevelRequirement}}</td>
                <td>
                    <p *ngFor="let recipeItem of item.Recipe">
                        {{recipeItem.Item.Name}} x {{recipeItem.Count}}
                    </p>
                </td>
                <td>{{item.CraftTime}} seconds</td>
                <td>Grants {{item.Experience}}xp</td>
            </ng-container>
        </tr>
    </tbody>
</table>