<p>Name: {{CharacterService.Character.Name}} <button (click)="ResetCharacter();">Reset Character</button></p>
<p>Level: {{CharacterService.Character.Level}} \ 
    Experience: {{CharacterService.Character.Experience}}&nbsp;&nbsp;&nbsp;
    <button (click)="OnDecreaseXPClick()">-</button>
    <button (click)="OnAddXPClick()">+</button>
</p>
<p>
    Currency: {{CharacterService.Character.Currency}}&nbsp;&nbsp;&nbsp;
    <button (click)="CharacterService.Character.Currency = CharacterService.Character.Currency - 10; UpdateStorage();">-</button>
    <button (click)="CharacterService.Character.Currency = CharacterService.Character.Currency + 20; UpdateStorage();">+</button>
</p>
