.container {
  box-sizing: border-box;
  overflow: hidden;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
}

.left-container {
  position: absolute;
  overflow-x: hidden;
  width: 50%;
  top: 0;
  left: 0;
}

.right-container {
  position: absolute;
  width: 50%;
  overflow-x: hidden;
  top: 0;
  right: 0;
}

table {
    border: 1px solid #838383;
    padding: 5px;
    border-collapse: collapse;
    width: 95%;
    table-layout: fixed;
}

th, td {
    border: 1px solid #838383;
    padding: 5px;
    text-align: left;
}

.accordion {
    background-color: #3b3b3b;
    color: #fff;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size:larger;
  }

.panel {
    padding: 18px;
    background-color: 272727;
    display: block;
    overflow: hidden;
  }

  button {
    background-color: #272727;
    border: 1px solid #fff;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 5px;
  }

  button:hover {
    background-color: rgb(83, 83, 83);
  }

  textarea, input {
    background-color: #272727;
    border: 1px solid #fff;
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 16px;
    margin: 5px;
  }