<div class="container">
    <div #logIn *ngIf='!CharacterService.Character'>
        <input #logInTextField type="text" (keyup.enter)="onNameEnter(logInTextField.value)" />
    </div>
    <ng-container *ngIf="CharacterService.Character">

        <div class="sidebar">
            <img class="logo" />
            <ul>
                <li><a routerLink="">Home</a></li>
                <li><a routerLink="/inventory">Inventory</a></li>
                <li><a routerLink="/market">Market Board</a></li>
                <li><span><a routerLink="/mining">Mining</a></span><span class="level">Level {{CharacterService.Character.Skills.MiningLevel}}</span></li>
                <li><span><a routerLink="/botany">Botany</a></span><span class="level">Level {{CharacterService.Character.Skills.BotanyLevel}}</span></li>
                <li><span><a routerLink="/weaponsmithing">Weaponsmithing</a></span><span class="level">Level {{CharacterService.Character.Skills.WeaponsmithingLevel}}</span></li>
              </ul>
              <p>Activity Log</p>
              <textarea style="width: 90%; height: 100px;" [(ngModel)]="ToastService.Message" readonly></textarea>
              <h4>Global Chat</h4>
              <p><textarea style="width:90%; height: 100px;" #chatTextArea readonly></textarea></p>
              <p>Message: <input style="width:90%;" type="text" #messageTextField (keyup.enter)="onChatMessageEnter()" /></p>
              <h4>Current Online Players</h4>
              <div *ngFor="let player of CurrentOnlinePlayers">
                  <p>{{player.Name}}</p>
              </div>
        </div>
        <div class="topbar">
            <button (click)="ResetCharacter();">Reset Character</button>
            <button (click)="UpdateStorage();">Save Character</button>
            {{CharacterService.Character.Name}}&nbsp;&nbsp;&nbsp;
            <button (click)="CharacterService.Character.Currency = CharacterService.Character.Currency - 10; UpdateStorage();">-</button>
            Currency: {{CharacterService.Character.Currency}}
            <button (click)="CharacterService.Character.Currency = CharacterService.Character.Currency + 20; UpdateStorage();">+</button>
        </div>
        <div class="content-area">
            <router-outlet></router-outlet>
        </div>
    </ng-container>
</div>