<div class="container">
    <div #logIn *ngIf='!CharacterService.Character'>
        <input #logInTextField type="text" (keyup.enter)="onNameEnter(logInTextField.value)" />
    </div>
    <ng-container *ngIf="CharacterService.Character">

        <div class="sidebar">
            <img class="logo" />
            <ul>
                <li class="active" (click)="OnSelect($event)" routerLink="">Home</li>
                <li (click)="OnSelect($event)" routerLink="/inventory">Inventory</li>
                <li (click)="OnSelect($event)" routerLink="/market">Market Board</li>
                <li (click)="OnSelect($event)" routerLink="/mining"><span>Mining</span><span class="level">Level {{CharacterService.Character.Skills.MiningLevel}}</span></li>
                <li (click)="OnSelect($event)" routerLink="/botany"><span>Botany</span><span class="level">Level {{CharacterService.Character.Skills.BotanyLevel}}</span></li>
                <li (click)="OnSelect($event)" routerLink="/farming"><span>Farming</span><span class="level">Level {{CharacterService.Character.Skills.FarmingLevel}}</span></li>
                <li (click)="OnSelect($event)" routerLink="/fishing"><span>Fishing</span><span class="level">Level {{CharacterService.Character.Skills.FishingLevel}}</span></li>
                <li (click)="OnSelect($event)" routerLink="/alchemy"><span>Alchemy</span><span class="level">Level {{CharacterService.Character.Skills.AlchemyLevel}}</span></li>
                <li (click)="OnSelect($event)" routerLink="/cooking"><span>Cooking</span><span class="level">Level {{CharacterService.Character.Skills.CookingLevel}}</span></li>
                <li (click)="OnSelect($event)" routerLink="/smithing"><span>Smithing</span><span class="level">Level {{CharacterService.Character.Skills.SmithingLevel}}</span></li>
                <li (click)="OnSelect($event)" routerLink="/weaponsmithing"><span>Weaponsmithing</span><span class="level">Level {{CharacterService.Character.Skills.WeaponsmithingLevel}}</span></li>
                <li (click)="OnSelect($event)" routerLink="/armorer"><span>Armorer</span><span class="level">Level {{CharacterService.Character.Skills.ArmorerLevel}}</span></li>
                <li (click)="OnSelect($event)" routerLink="/weaver"><span>Weaver</span><span class="level">Level {{CharacterService.Character.Skills.WeaverLevel}}</span></li>
                <li (click)="OnSelect($event)" routerLink="/goldsmithing"><span>Goldsmithing</span><span class="level">Level {{CharacterService.Character.Skills.GoldsmithingLevel}}</span></li>
            </ul>
            <h5>Activity Log</h5>
            <textarea style="width: 90%; height: 100px;" [(ngModel)]="ToastService.Message" readonly></textarea>
        </div>
        <div class="topbar">
            <div>
                <div>
                    {{CharacterService.Character.Name}}&nbsp;&nbsp;&nbsp;<br/>
                    <span class="currency">{{CharacterService.Character.Currency}} Gold</span>
                </div>
                <div>
                    <button (click)="UpdateStorage();">Save Character</button>
                    <button (click)="ResetCharacter();">Reset Character</button>
                </div>
            </div>
        </div>
        <div class="content-area">
            <router-outlet></router-outlet>
        </div>
    </ng-container>
</div>