<div class="container">
    <div #logIn *ngIf='!CharacterService.Character'>
        <input #logInTextField type="text" (keyup.enter)="onNameEnter(logInTextField.value)" />
    </div>
    <ng-container *ngIf="CharacterService.Character">

        <div class="sidebar">
            <img class="logo" />
            <ul>
                <li class="active" (click)="OnSelect($event)" routerLink="">Home</li>
                <li (click)="OnSelect($event)" routerLink="/inventory">Inventory</li>
                <li (click)="OnSelect($event)" routerLink="/market">Market Board</li>
                <li (click)="OnSelect($event)" routerLink="/mining"><span>Mining</span><span class="level">Level {{CharacterService.Character.Skills.MiningLevel}}</span></li>
                <li (click)="OnSelect($event)" routerLink="/botany"><span>Botany</span><span class="level">Level {{CharacterService.Character.Skills.BotanyLevel}}</span></li>
                <li (click)="OnSelect($event)" routerLink="/smithing"><span>Smithing</span><span class="level">Level {{CharacterService.Character.Skills.SmithingLevel}}</span></li>
                <li (click)="OnSelect($event)" routerLink="/weaponsmithing"><span>Weaponsmithing</span><span class="level">Level {{CharacterService.Character.Skills.WeaponsmithingLevel}}</span></li>
              </ul>
              <h5>Activity Log</h5>
              <textarea style="width: 90%; height: 100px;" [(ngModel)]="ToastService.Message" readonly></textarea>
              <h5>Global Chat</h5>
              <textarea style="width:90%; height: 100px;" #chatTextArea readonly></textarea>
              <input style="width:90%;" type="text" placeholder="Send message..." #messageTextField (keyup.enter)="onChatMessageEnter()" />
              <h5>Current Online Players</h5>
              <div *ngFor="let player of CurrentOnlinePlayers">
                  <h6>{{player.Name}}</h6>
              </div>
        </div>
        <div class="topbar">
            <div>
                <div>
                    {{CharacterService.Character.Name}}&nbsp;&nbsp;&nbsp;<br/>
                    <span class="currency">{{CharacterService.Character.Currency}} Gold</span>
                </div>
                <div>
                    <button (click)="UpdateStorage();">Save Character</button>
                    <button (click)="ResetCharacter();">Reset Character</button>
                </div>
            </div>
        </div>
        <div class="content-area">
            <router-outlet></router-outlet>
        </div>
    </ng-container>
</div>