<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Description</th>
            <th>Value</th>
            <th>Count</th>
            <th>Market Options</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let inventoryItem of CharacterService.Character.Inventory.Items">
            <td title="{{inventoryItem.Item.Description}}">
                {{inventoryItem.Item.Name}}<br/>
            </td>
            <td>{{ItemType[inventoryItem.Item.Type]}}</td>
            <td>{{inventoryItem.Item.Description}}</td>
            <td>{{inventoryItem.Item.Value}}</td>
            <td>
                <button (click)="RemoveItemFromInventory(inventoryItem.Item)">-</button>
                <button (click)="AddItemToInventory(inventoryItem.Item)">+</button>
                {{inventoryItem.Count}}
            </td>
            <td><app-inventory-market-options [Item] = "inventoryItem"></app-inventory-market-options></td>
        </tr>
    </tbody>
</table>

<div class="item-container">
    <ng-container *ngFor="let item of CharacterService.Character.Inventory.Items">
        <app-inventory-item [Item]="item"></app-inventory-item>
    </ng-container>
</div>